/* Static styles across each page */
/* Makes whole page background a specific color */
.body {
    background-color: paleturquoise;
}
/* Positions and styles page titles */
.page-title {
    text-align: center;
    font-family: "Papyrus", fantasy;
    padding-top: 10px;
}
/* "Home" link */
.home-link {
    text-decoration: none;
    color: lightseagreen;
}
/* Styles all buttons across every html page */
.button {
    border-radius: 30px;
    background-color: #999;
    font-family: "Papyrus", fantasy;
    color: black;
    font-size: 16px;
    border: none;
    padding: 12px;
    text-align: center;
}
.button:hover {
    background-color: lavender;
}
.button-div {
    text-align: center;
}
/*----------------------------*/


/* HOME.html */
/* Styling for image with button overlay */
/* Positions sky-mirror img */
#img-with-button {
   text-align: center;
}
/* Styles "Click to Begin" button and places in middle of img */
#begin-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 150px;    
}
/* Styles the site catchy phrase */
#phrase {
    text-align: center;
    font-size: 20px;
}
/* Styles trigger warning text */
#trigger-warning {
    font-size: 18px;
    text-align: center;
}
/* Trigger warning colored box */
#tw-box {
    border-style: solid;
    border-color: palegoldenrod;
    background-color: palegoldenrod;
    width: 900px;
    margin: 0 auto;
}
/*----------------------------*/


/* WELCOME.html */
/* Sets up paper-like ACE breakdown sheet */
#ace-fact-sheet {
    font-size: 17px;
    background-color: lightgray;
    padding: 5px;
    border-style: solid;
    width: 600px;
    margin: 0 auto;
    text-align: center;
}
/* Unordered list with separate alignment from rest of fact sheet */
#ace-list{
    text-align: left;
}
/* Positions text that encourages folks to take quiz */
#quiz-nudge {
    text-align: center;
}
/*----------------------------*/


/* ACE-QUIZ.html */
/* Positions quiz instructions*/
#quiz-instructions {
    text-align: center;
    font-size: 17px;
}
/* Positions ACE quiz on page */
.quiz-box {
    border-style: dotted;
    border-color: blueviolet;
    padding: 10px;
    margin: 0 auto;
    width: 800px;
}
/* Makes the quiz questions bolder */
.question{
    font-weight: 600;
  }
/* Adds space between radio buttons and next question */
.answers {
    margin-bottom: 20px;
  }
/* Adds space around quiz submission and stat page buttons */
#submit, #stats{
    margin: 20px;
  }
/* Styles box for when quiz score is displayed */
.score {
    text-align: center;
    border-style: solid;
    width: 300px;
    margin: 0 auto;
}
/*----------------------------*/


/* SCORE_STATS.html */
/* Positions score over img */
/* #results{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 14px;
    font-family: "Papyrus", fantasy;
    color: black;
    border-style: solid;
    border-radius: 20px;
    width: 170px;
    padding: 15px 20px 15px 5px;
    background-color: rgb(157, 175, 192);
} */
/* Styles bit of text detailing remedy/ies to ACEs */
#ace-antidote {
    text-align: center;
    font-size: 17px;
}
/* Styles stat boxes */
.stat-box{
    border-style: solid;
    padding: 20px;
    height: 200px;
    width: 200px;
    text-align: left;
    margin: 0 auto;
}
/* Positions stat images in center */
.stat-img {
    text-align: center;
}
/* Styles bit of text directing user to next page */
#next-steps {
    text-align: center;
    font-size: 18px;
}
/*----------------------------*/


/* RESOURCES.html */
/* Centers dropdown btns on page */
.dropdown {
    text-align: center;
}
/* Styles bit of text praising the act of seeking help */
#reassurance-text {
    text-align: center;
    border-style: inset;
    border-color: darkorchid;
    font-size: 17px;
    width: 1500px;
    margin: 0 auto;
}
/*----------------------------*/


/* REVIEWS_COMMENTS.html */
/* Adds space between the tops of the buttons and the top of the window */
#resource-review-btn, #website-review-btn, #add-comment-btn, #home-btn {
    margin-top: 15px;
}
/* Aligns these 2 buttons to the left of their respective columns */
#resource-review-btn, #add-comment-btn {
    text-align: left;
}
/* Aligns these 2 buttons to the right of their respective columns */
#home-btn, #website-review-btn {
    text-align: right;
}
/* Adds a line to the right side of left col to create a middle split (like a faux vertical rule) */
#reviews-border{
    border-right-style: solid;
    height: 600px;
}
/* Adds a line to the left side of right col to create a middle split (like a faux vertical rule) */
#comments-border {
    border-left-style: solid;
    height: 600px;
}
/* Aligns "Contact Us" button to center of div right beneath Reviews col */
#contact-us-div {
    text-align: center;
    border-right-style: solid;
}
/* An extra & empty div to keep "Contact Us" button in the 1st col under Review div/col */
#spacer-div {
    text-align: center;
    border-left-style: solid;
}

